<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="name">Ime:</label>
  <input type="text" id="name" formControlName="name" required />

  <label for="height">Visina:</label>
  <input type="number" id="height" formControlName="height" required />

  <label for="weight">Težina:</label>
  <input type="number" id="weight" formControlName="weight" required />

  <label for="eyeColor">Boja očiju:</label>
  <input type="text" id="eyeColor" formControlName="eyeColor" required />

  <label for="hairColor">Boja kose:</label>
  <input type="text" id="hairColor" formControlName="hairColor" required />

  <button type="submit" [disabled]="userForm.invalid">Dodaj korisnika</button>
</form>
