.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-item {
  background-color: #3498db;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80%;
}

.user-item:hover {
  background-color: #2980b9;
}

.user-info {
  margin: 0;
}

.btnWrapper {
  margin-top: 20px;
}
